<template>
  <div class="lever" :style="inlineStyle">
    <Object v-for="(object, index) in lhsObjects"
      v-bind="object"
      v-bind:key="index" />
    <Object v-for="(object, index) in rhsObjects"
      v-bind="object"
      v-bind:key="lhsObjects.length + index" />
  </div>
</template>

<script lang="ts">
  import Object from './Object.vue';
  import { mapMutations, mapState } from 'vuex';
  import {
    ADD_RHS_OBJECT
  } from '../store/constants';

  export default {
    name: 'Lever',
    components: {
      Object
    },
    computed: {
      ...mapState([
        'rhsObjects',
        'lhsObjects'
      ]),
      inlineStyle() {
          return {
              transform: `rotate(${this.$store.getters.bending / 2}deg)`
          }
      }
    },
    methods: {
      ...mapMutations({
        addRHSObject: ADD_RHS_OBJECT
      })
    },
    beforeMount() {
      this.addRHSObject();
    }
  }
</script>

<style scoped lang="scss">
  .lever {
    width: 100%;
    height: 4px;
    position: relative;
    background-color: #aaa;

    // Rotation Animation
    transform: rotate(0);
    transition: transform;
    transition-duration: .5s;
    transition-timing-function: ease;
  }

</style>
