<template>
  <Object :type="type" :weight="weight" :top="top" :offset="offset" />
</template>

<script lang="ts">
  import { mapMutations } from 'vuex';
  import Object from './Object.vue';
  import {
    LEVER_WIDTH,
    MOVING_STEP,
    MOVING_TIMER,
    WEIGHT_PX_RATIO
  } from '../constants';
  import {
    OBJECT_DROPPED,
    RIGHT_ARROW,
    LEFT_ARROW
    } from '../store/constants';

  export default {
    name: 'MovingObject',
    props: {
      type: {
        type: String,
        required: true
      },
      weight: {
        type: Number,
        required: true
      },
      offset: {
        type: Number,
        required: true
      }
    },
    data() {
      return {
        top: this.weight * WEIGHT_PX_RATIO,
        intervalID: 0
      }
    },
    computed: {
      objectBottom() {
        const { weight, top, offset } = this;
        const height = weight * WEIGHT_PX_RATIO;
        const bottom = top + height;

        return bottom;
      },
      leverTouchPoint() {
          const { top, bottom } = document.querySelector('.lever').getBoundingClientRect();
          const landingHeight = ((top - bottom) / 2) * (1 - this.offset / LEVER_WIDTH / 2);
          const ERROR_MARGIN = 25;
          let value;

          if(this.$store.getters.bending >= 0) {
            value = top - landingHeight;
          } else {
            value = bottom + landingHeight;
          }

          return value - ERROR_MARGIN;
      }
    },
    components: {
      Object
    },
    methods: {
      ...mapMutations({
        onRightArrowPressed: RIGHT_ARROW,
        onLeftArrowPressed: LEFT_ARROW,
      }),
      onKeyDown(event) {
        let keyCode = event.which || event.keyCode;

        if (keyCode == 39) {
          this.onRightArrowPressed();
        } else if (keyCode == 37) {
          this.onLeftArrowPressed();
        }
      },
      startMoving () {
        const self = this;
        this.intervalID = setInterval(() => {
          if (self.objectBottom >= self.leverTouchPoint) {
            clearTimeout(self.intervalID);
            self.$store.dispatch(OBJECT_DROPPED);
            self.top = self.weight * WEIGHT_PX_RATIO;
            return;
          }

          self.top += MOVING_STEP;
        }, MOVING_TIMER);
      }
    },
    mounted() {
      this.startMoving();
    },
    beforeMount() {
      window.addEventListener('keydown', this.onKeyDown)
    },
    beforeDestroy () {
      if(this.intervalID) {
        clearInterval(this.intervalID);
      }

      window.removeEventListener('keydown', this.onKeyDown);
    }
  }
</script>

<style lang="scss">
  .moving-object {

  }
</style>
