<template>
  <div class="object"
    :style="inlineStyle">
    {{ weight }}
  </div>
</template>

<script lang="ts">
  import {
    getWeightColor
  } from '../utils';
  import {
    LEVER_UNIT,
    WEIGHT_PX_RATIO
  } from '../constants';

  export default {
    name: 'Object',
    props: {
      type: {
        type: String,
        required: true
      },
      weight: {
        type: Number,
        required: true
      },
      offset: {
        type: Number,
        required: true
      },
      top: {//Only Moving Objects have tops
        type: Number
      },
      rhs: {//Objects to the right hand side of the pivot
        type: Boolean
      }
    },
    computed: {
      inlineStyle() {
        const { weight, rhs, top, offset } = this;
        const sideLength = weight * WEIGHT_PX_RATIO;
        const sideLengthPx = `${sideLength}px`;
        const weightColor = getWeightColor(weight);
        const left = rhs ? 50 + offset * LEVER_UNIT : 50 - offset * LEVER_UNIT;

        let properties = {};

        switch(this.type) {
          case 'circle':
            properties = {
              backgroundColor: weightColor,
              lineHeight: sideLengthPx,
              height: sideLengthPx,
              width: sideLengthPx,
              borderRadius: '50%'
            };
            break;
          case 'square':
            properties = {
              backgroundColor: weightColor,
              lineHeight: sideLengthPx,
              height: sideLengthPx,
              width: sideLengthPx
            };
            break;
          case 'triangle': 
            properties = {
              width: 0,
              height: 0,
              borderStyle: 'solid',
              lineHeight: sideLengthPx,
              borderWidth: `0 ${sideLengthPx} ${sideLengthPx} ${sideLengthPx}`,
              borderColor: `transparent transparent ${weightColor} transparent`
            };
            break;
        }

        return {
          ...properties,
          left: `${left}%`,
          top: `${top}px`
        }
      }
    }
  }
</script>

<style lang="scss">
  .object {
    position: absolute;
    text-align: center;
    transform: translate(-50%, -100%);// Position from center
  }

</style>
