<template>
  <svg class="pivot">
    <polygon points="50,0 100,100 0,100" />
    <text x=32 y=70>Pivot</text>
  </svg>
</template>

<script lang="ts">
  export default {
    name: 'Pivot'
  }
</script>

<style scoped lang="scss">
  .pivot {
    width: 101px;
    height: 101px;
  }

  polygon {
    fill: #f0f0f0;
    stroke: gray;
  }
</style>
