<template>
  <section class="simulation">
    <Sky />
    <TeeterTotter />
  </section>
</template>

<script lang="ts">
  import TeeterTotter from './TeeterTotter.vue';
  import Sky from './Sky.vue';
  
  export default {
    name: 'Simulation',
    components: {
      Sky,
      TeeterTotter
    }
  }
</script>

<style scoped lang="scss">
  .simulation {
    width: 80%;
    margin: auto;
    height: 70vh;
    padding: 10px;
    min-width: 800px;
    min-height: 500px;
    position: relative;
  }
</style>
