<template>
  <section class="sky">
    <MovingObject v-if="movingObject"
      v-bind="movingObject"
    />
  </section>
</template>

<script lang="ts">
  import MovingObject from './MovingObject.vue';
  import { mapMutations } from 'vuex'
  import {
    ADD_MOVING_OBJECT
  } from '../store/constants';

  export default {
    name: 'Sky',
    components: {
      MovingObject
    },
    computed: {
      movingObject() {
        return this.$store.state.movingObject;
      }
    },
    methods: {
      ...mapMutations({
          doInit: ADD_MOVING_OBJECT
      })
    },
    beforeMount() {
        this.doInit();
    },
  }
</script>

<style scoped lang="scss">
  .sky {
    height: calc(100% - 120px);
    position: relative;
  }
</style>
