<template>
  <section class="teeter-totter">
    <Lever />
    <Pivot />
  </section>
</template>

<script lang="ts">
  import Pivot from './Pivot.vue';
  import Lever from './Lever.vue';

  export default {
    name: 'TeeterTotter',
    components: {
      Pivot,
      Lever
    }
  }
</script>

<style scoped lang="scss">
  .teeter-totter {
    padding: 5px;
    height: 120px;
  }
</style>
