<template>
  <div id="app">
    <Simulation />
  </div>
</template>

<script lang="ts">
  import { Component, Vue } from "vue-property-decorator";
  import Simulation from "./components/Simulation.vue";

  @Component({
    components: {
      Simulation
    }
  })
  export default class App extends Vue {}
</script>

<style lang="scss">
  #app {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }

  body {
    box-sizing: border-box;
  }
</style>
